<div
  class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow-sm"
>
  <div class="px-4 py-5 sm:px-6">
    <div class="bg-white">
      <div
        class="-mt-4 -ml-4 flex flex-wrap items-center justify-between sm:flex-nowrap"
      >
        <div class="mt-4 ml-4">
          <h3 class="text-xl font-semibold text-gray-900">
            Synthèse comparative des CRA
          </h3>
          <p class="mt-1 text-sm text-gray-500">
            Espace dédié à la consultation et au suivi des CRA des agents.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col gap-3 px-4 py-5 sm:p-6">
    <app-diff-header-line [days]="header()"></app-diff-header-line>

    <ng-container *ngFor="let agentLine of agentLines(); let i = index">
      <app-diff-line [agentLine]="agentLine"></app-diff-line>
    </ng-container>
    <app-diff-line [agentLine]="alertLine()"></app-diff-line>
  </div>

  <div class="px-4 flex gap-4 justify-end py-4 sm:px-6">
    <span
      class="inline-flex items-center gap-x-1.5 rounded-md bg-red-100 px-2 py-1 text-xs border border-red-600 font-medium text-red-600"
    >
      <svg class="size-1.5 fill-red-500" viewBox="0 0 6 6" aria-hidden="true">
        <circle cx="3" cy="3" r="3" />
      </svg>
      Jour sans activité
    </span>
    <span
      class="inline-flex items-center gap-x-1.5 rounded-md bg-orange-100 px-2 py-1 text-xs border border-orange-500 font-medium text-orange-500"
    >
      <svg class="size-1.5 fill-red-500" viewBox="0 0 6 6" aria-hidden="true">
        <circle cx="3" cy="3" r="3" />
      </svg>
      Jour travaillé
    </span>
    <span
      class="inline-flex items-center gap-x-1.5 rounded-md bg-green-100 px-2 py-1 text-xs border border-green-700 font-medium text-green-700"
    >
      <svg class="size-1.5 fill-green-500" viewBox="0 0 6 6" aria-hidden="true">
        <circle cx="3" cy="3" r="3" />
      </svg>
      Jour de repos
    </span>
  </div>
</div>
