<div class="h-full">
  <!-- Mobile Sidebar -->
  <app-mobile-sidebar
    *ngIf="showSidebar"
    (close)="toggleSidebar(false)"
  ></app-mobile-sidebar>

  <!-- Desktop Sidebar -->
  <app-desktop-sidebar></app-desktop-sidebar>

  <!-- Main Content Area -->
  <div class="lg:pl-72">
    <app-sidebar-header (menuToggle)="toggleSidebar(true)"></app-sidebar-header>
    <main class="py-10">
      <div class="px-4 sm:px-6 lg:px-8">
        <ng-content></ng-content>
      </div>
    </main>
  </div>
</div>
