<a
  [href]="href"
  class="group flex gap-x-3 rounded-md p-2 text-sm/6 font-semibold"
  [ngClass]="
    isActive
      ? 'bg-indigo-700 text-white'
      : 'text-indigo-200 hover:bg-indigo-700 hover:text-white'
  "
>
  <svg
    class="size-6 shrink-0"
    [ngClass]="
      isActive ? 'text-white' : 'text-indigo-200 group-hover:text-white'
    "
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    aria-hidden="true"
  >
    <use [attr.href]="'#' + icon"></use>
  </svg>
  {{ label }}
</a>
