<div class="relative z-50 lg:hidden" role="dialog" aria-modal="true">
  <div
    class="fixed inset-0 bg-gray-900/80"
    aria-hidden="true"
    (click)="close.emit()"
  ></div>
  <div class="fixed inset-0 flex">
    <div class="relative mr-16 flex w-full max-w-xs flex-1">
      <div class="absolute left-full top-0 flex w-16 justify-center pt-5">
        <button type="button" class="-m-2.5 p-2.5" (click)="close.emit()">
          <span class="sr-only">Close sidebar</span>
          <svg
            class="size-6 text-white"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18 18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
      <app-sidebar-content></app-sidebar-content>
    </div>
  </div>
</div>
